
@model CRM_Core.Models.ContactViewModel

@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<div id="ContactDataError" class="alert"></div>
<form method="post" action="">
    <div class="form-group row">
        <label for="Name" class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
            <span style="color:red" id="NameErr"></span>
            <input type="text" value="@Model.Name" name="Name" class="form-control" id="Name" placeholder="Name">
        </div>
    </div>
    <div class="form-group row">
        <label for="MobilePhone" class="col-sm-2 col-form-label">Mobile Phone:</label>
        <div class="col-sm-10">
            <span style="color:red" id="MobilePhoneErr"></span>
            <input type="text" name="MobilePhone" value="@Model.MobilePhone" class="form-control" id="MobilePhone" placeholder="Mobile phone">
        </div>
    </div>
    <div class="form-group row">
        <label for="JobTitle" class="col-sm-2 col-form-label">Job Title:</label>
        <div class="col-sm-10">
            <span style="color:red" id="JobTitleErr"></span>
            <input type="text" name="JobTitle" class="form-control" value="@Model.JobTitle" id="JobTitle" placeholder="Job title">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">Dear:</div>
        <div class="col-sm-10">
            <span style="color:red" id="DearErr"></span>
            <input class="form-control" name="Dear" value="@Model.Dear" placeholder="Mr./Mrs." type="text" id="Dear">
        </div>
    </div>
    <div class="form-group row">
        <label for="BirthDate" class="col-sm-2 col-form-label">Birth Date:</label>
        <div class="col-10">
            <span style="color:red" id="BirthDateErr"></span>
            <input class="form-control" type="date" value="@Model.BirthDate.ToString("yyyy-MM-dd")" name="BirthDate" id="BirthDate">
        </div>
    </div>
    <input type="button" class="btn btn-success" value="Change Contact" id="changeContactButton" />
    <input style="opacity:0" type="submit" id="changeContactSubmit" />
</form>


<script>
    changeContactButton.onclick = function (event) {
        let allIsMatch = true;
        let name = document.getElementById('Name').value.trim();

        if (name.length <= 2 || name.length > 50) {
            document.getElementById('NameErr').innerHTML = "Range of Name 2-50 letter";
            allIsMatch = false;
        }
        else {
            document.getElementById('NameErr').innerHTML = '';
        }

        let phone = document.getElementById('MobilePhone').value.trim();
        let phoneReg = new RegExp((/^[+]*[(]{0,1}[0-9]{1,3}[)]{0,1}[-\s\./0-9]*$/g));
        if (phone.match(phoneReg)) {
            document.getElementById('MobilePhoneErr').innerHTML = '';
        }
        else {
            document.getElementById('MobilePhoneErr').innerHTML = 'Phone doesn\'t match pattern';
             allIsMatch = false;
        }

        let dateOfBirth = Date.parse(document.getElementById("BirthDate").value);
        let currentDate = Date.now();

        if (dateOfBirth > currentDate) {
            allIsMatch = false;
            document.getElementById('BirthDateErr').innerHTML = 'Wrong birth date';
        }
        else {
            document.getElementById('BirthDateErr').innerHTML = '';
        }

        let title = document.getElementById('JobTitle').value.trim();
        if (title.length <= 2 || title.length > 50  ) {
            document.getElementById('JobTitleErr').innerHTML = "Range of Job 2-50 letter";
            allIsMatch = false;
        }
        else {
            document.getElementById('JobTitleErr').innerHTML = '';
        }

        let dear = document.getElementById('Dear').value.trim();
        if (dear.length <= 2 || dear.length > 50  ) {
            document.getElementById('DearErr').innerHTML = "Range of Dear 2-50 letter";
            allIsMatch = false;
        }
        else {
            document.getElementById('DearErr').innerHTML = '';
        }

        if (allIsMatch) {
            document.getElementById('changeContactSubmit').click();
        }
    }
</script>
